@using Microsoft.AspNetCore.Identity
@using Promises.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
            <li class="dropdown dropdown-notifications">
                <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">
                    <i id="_notify_gingle_id" data-count="0" class="glyphicon glyphicon-bell notification-icon"></i>
                </a>

                <div class="dropdown-container dropdown-position-bottomright">

                    <div class="dropdown-toolbar">
                        <div class="dropdown-toolbar-actions">
                            <a href="#">Mark all as read</a>
                        </div>
                        <h3 class="dropdown-toolbar-title">Notifications (0)</h3>
                    </div><!-- /dropdown-toolbar -->
                    

                    <ul id="_notifications_list" class="dropdown-menu notifications">
                        <li class="notification">
                            <div class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="Name">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <strong class="notification-title"><a href="#">Nikola Tesla</a> resolved <a href="#">T-14 - Awesome stuff</a></strong>

                                    <p class="notification-desc">Resolution: Fixed, Work log: 4h</p>

                                    <div class="notification-meta">
                                        <small class="timestamp">27. 10. 2015, 08:00</small>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li class="notification">
                            <div class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="Name">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                    <div class="notification-meta">
                                        <small class="timestamp">1. 9. 2015, 08:00</small>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-footer text-center">
                        <a href="#">View All</a>

                    </div><!-- /dropdown-footer -->

                </div><!-- /dropdown-container -->
            </li><!-- /dropdown -->
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
