@using Microsoft.AspNetCore.Identity
@using Promises.Models

@using Promises.Utils;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IBlockchain BlockChain

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var balances = await BlockChain.GetBalance(NETWORK_TYPE.TESTNET, user.Address);
    var revSh = await SmartPromiseConverter.GetScriptHashReversed(user.Address, BlockChain);
    var tokenBalance = await BlockChain.GetTokenBalance(NETWORK_TYPE.TESTNET, revSh);

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <p class="navbar-text">TestNet </p>
        <p class="navbar-text">Sc : @tokenBalance </p>
        <p class="navbar-text">NEO : @balances.NEO </p>
        <p class="navbar-text">GAS : @balances.GAS </p>
        
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Menu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="container-fluid"><small class="text-muted">Logged in as <span class="bold">@user.Email</span></small></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Profile", "Cabinet")" role="button"><span class="text-muted">Profile</span></a></li>
                    <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><span class="text-muted">Settings</span></a></li>
                    <li class="divider"></li>
                    <li><a role="button" onclick="document.getElementById('logoutForm').submit()"><span class="text-muted">Log out</span></a></li>
                </ul>
            </li>
            
            
            <li class="dropdown dropdown-notifications">
                <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="_gingle_id" data-count="0" class="glyphicon glyphicon-bell notification-icon"></span>
                </a>

                <div class="dropdown-container dropdown-position-bottomright">

                    <div class="dropdown-toolbar">
                        <!--<div class="dropdown-toolbar-actions">
                            <button class="btn btn-primary"><span href="#">Mark all as read</span></button>
                        </div>-->
                        <h3 id="_noti_label_id" class="dropdown-toolbar-title">You have no notifications</h3>
                    </div><!-- /dropdown-toolbar -->


                    <ul id="_notifications_list" class="dropdown-menu notifications"></ul>

                    <!--
                        <div class="dropdown-footer text-center">
                            <a href="#">View All</a>

                        </div> /dropdown-footer -->

                </div><!-- /dropdown-container -->
            </li><!-- /dropdown -->
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
