<div class="modal fade" id="_modal_complete_promise" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Complete promise</h4>
                <div align="right" id="_modal_complete_loader"></div>
                <h4 class="text-success" id="_modal_complete_result"></h4>
            </div>
            <div class="container-fluid">
                <form>
                    <div class="form-group">
                        <label>Proof</label>
                        <input class="form-control" id="_promise_proof" placeholder="Enter a proof">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="_complete_promise_button" type="button" class="btn btn-primary">Complete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>