@model ProfileViewModel
@inject IBlockchain blockchain

<div class="modal fade" id="_modal_pay" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div align="right" id="_modal_pay_loader"></div>
                <h4 class="text-success" id="_modal_pay_result"></h4>
                <h4 class="modal-title">Pay to <span class="bold">@Model.Email</span></h4>
                <small id="_address_to_pay_label" class="bold">@Model.Address</small>
            </div>
            <div class="container-fluid">
                <form>
                    <div class="form-group">
                        <h5 class="bold">Asset type</h5>
                        <select class="form-control" id="_asset_type">
                            <option value="neo">NEO</option>
                            <option value="gas">GAS</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <h5 class="bold">Network type</h5>
                        <select class="form-control" id="_net_type">
                            <option value="testnet">TestNet</option>
                            <option value="neo">MainNet</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <h5 class="bold">Amount</h5>
                        <input id="_asset_amount" type="number" class="form-control" placeholder="Type amount to send">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="_send_asset" type="button" class="btn btn-primary">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
