@model ProfileViewModel

<div class="thumbnail">
    <img style="display:block; margin:auto; width:100%"
         src="@Url.Action("GetAvatarImage", "Cabinet", new { width = 300, height = 250 })"
         class="img-responsive img-thumbnail main-avatar" alt="Avatar" />

    <div align="center" class="caption">
        <h3>@Model.Email</h3>
        <a role="button" class="btn btn-link" data-toggle="modal" data-target="#_payment_details">Info</a>
        <a role="button" class="btn btn-link" data-toggle="modal" data-target="#_transaction_history_modal">History</a>
    </div>
</div>
