@using Promises.Views.Cabinet
@{
    ViewData["Title"] = "Friends";
    ViewData.AddActivePage(CabinetNavPages.Friends);
}

<!--/ It's used to be able to be redirected to another MVC page from javascript-->

<div class="input-group">
    <span class="glyphicon glyphicon-search input-group-addon " id="sizing-addon1"></span>
    <input id="_find_input" type="text" class="form-control input-style" placeholder=" Type email to find a person" aria-describedby="sizing-addon1">
</div>

<div id="_loader_id"></div>
<h4 id="_friends_label_id"></h4> 

<div class="list-group container-fluid" id="_friends_list"></div>


<h4 id="_others_label_id"></h4>
<div id="_other_users_list" class="list-group container-fluid"></div>

<h4 id="_pending_label_id"></h4>
<div id="_pending_users_list" class="list-group container-fluid"></div>
