@using Promises.Views.Cabinet
@{
    ViewData["Title"] = "Friends";
    ViewData.AddActivePage(CabinetNavPages.Friends);
}

<link rel="stylesheet" type="text/css" href="~/css/loader.css">
<link rel="stylesheet" type="text/css" href="~/css/searchInput.css">
<link rel="stylesheet" type="text/css" href="~/css/profileCard.css">

<!--/ It's used to be able to be redirected to another MVC page from javascript-->
<p>
    <input class="input-style" id="_find_input" type="text" placeholder=" Type email to find a person">
</p>

<div id="_loader_id"></div>
<h4 id="_friends_label_id"></h4> 

<div class="list-group container-fluid" id="_friends_list"></div>


<h4 id="_others_label_id"></h4>
<div id="_other_users_list" class="list-group container-fluid"></div>

<h4 id="_pending_label_id"></h4>
<div id="_pending_users_list" class="list-group container-fluid"></div>
