@using Promises.Views.Cabinet
@{
    ViewData["Title"] = "GlobalChat";
    ViewData.AddActivePage(CabinetNavPages.GlobalChat);
}

<style type="text/css">
    .chat {
        list-style: none;
        margin: 10px;
        padding: 10px;
    }

    .chat li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

    .chat li.left .chat-body {
        margin-left: 60px;
    }

    .chat li.right .chat-body {
        margin-right: 60px;
    }

    .chat li .chat-body p {
        margin: 0;
        color: #777777;
    }

    .panel .slidedown .glyphicon, .chat .glyphicon {
        margin-right: 5px;
    }

    .panel-body {
        overflow-y: scroll;
        height: 400px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <!--/ 

                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>

                            <div class="panel-collapse collapse" id="collapseOne">
                        -->
                    </div>
                </div>
                <div class="panel-collapse" id="collapseOne">
                    <div class="panel-body">
                        <ul id="_chat_id"class="chat">
                           
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="_message_input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="_send_message_btn">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
