@using Promises.Views.Cabinet
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(CabinetNavPages.Index);
}

<div class="modal fade" id="_complete_promise" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Complete promise</h4>
            </div>
            <div class="container-fluid">
                <form>
                    <div class="form-group">
                        <label>Proof</label>
                        <input class="form-control" id="_promise_proof" placeholder="Enter a proof">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="_complete_promise_btn" type="button" data-dismiss="modal" class="btn btn-primary">Complete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="_fill_promise_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Creating promise</h4>
            </div>
            <div class="container-fluid">
                <form>
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" id="_promise_title" placeholder="Enter a title of the promise">
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <input class="form-control" id="_promise_content" placeholder="What do you promise to do">
                    </div>
                    <div class="form-group">
                        <label>Complicity</label>
                        <p/>
                        <div id="_complicity_control_id">
                            @{
                                for (int i = 1; i <= 5; ++i)
                                {
                                    var id = "_complicity_" + i.ToString() + "_id";
                                    <button id="@id" type="button" 
                                            class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    </button>
                                }
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="_create_promise_button" type="button" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="jumbotron">
                <h1 class="display-3">Hello, world!</h1>
            </div>
            <hr />
            <div class="promise-stats-block">
                <h4>Completed promises rating</h4>
                <h2 class="bold padding-bottom-7" id="_completed_rating_id">0 <small>/ 5</small></h2>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <span class="pull-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#_fill_promise_modal">Post promise</button>
                </span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-7">
            <hr/>
            <div id="_promises_id"></div>
        </div>
    </div>

</div>
