@using Promises.Views.Cabinet
@model PrivateChatViewModel
@{
    ViewData["Title"] = "PrivateChat";
    ViewData.AddActivePage(CabinetNavPages.PrivateChat);
}

<!--/ Now we are able to read model from JavaSctipr -->
<script type="text/javascript">
    let _RAZOR_PRIVATE_CHAT_VIEW_MODEL = @Html.Raw(Json.Serialize(Model))
</script>


<link rel="stylesheet" type="text/css" href="~/css/privateChat.css">

@{ 
    var contactStyle = Model.Friend.IsOnline ? "contact-online" : "contact-offline";
}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div class="row">
                <div class="col-md-2">
                    <div class="icon"><span class="glyphicon glyphicon-chevron-left"></span></div>
                </div>
                <div class="col-md-offset-3 col-md-2">
                    <div id=@contactStyle>
                        <img src="@Url.Action("GetAvatar", "Cabinet", new { userId = @Model.Friend.Id})" 
                            height="33" width="33" class="img-circle" alt="Avatar" />
                    </div>
                    @Model.Friend.Email
                </div>
            </div>
        </div>
        <div class="panel-body" id="_chat_panel_id">
            <div class="date" id="_current_date_id">
                <span class="bold">Today</span> 11:54
            </div>
            <div id="_messages_list_id">
            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="_message_input" type="text" class="form-control" placeholder="Message">
                <span class="input-group-btn">
                    <button id="_send_message_btn" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-send"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>
