@using Promises.Views.Cabinet
@inject IPromiseRepository promiseRepository
@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(CabinetNavPages.Profile);
    ViewData.AddProfileViewModel(Model);
}

@Html.Partial("_ModalCompletePromise")
@Html.Partial("_ModalCreatePromise")
<div class="container">
    <div class="row">
        <div class="col-sm-7">

            
            <div class="promise-stats-block">
                <h4>Statistics</h4>
                <h2 class="bold padding-bottom-7" id="_completed_rating_id">0 <small>/ 5</small></h2>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                @if (Model.IsYourProfile)
                {
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#_fill_promise_modal">Post promise</button>
                    </span>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <hr/>
            <div class="loader" id="_promises_loader">
            <div id="_promises_id"></div>
           
        </div>
    </div>

</div>
