@{
    ViewData["Title"] = "About";
}
<!--- 
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
-->


<div class="overlay">
    <div class="background-img-empty"></div>
    <div class="background-text">
        <h1><a style="color: #ffffff" href="https://github.com/SmartPromise">Smart Promise</a></h1>

        <h4>
            SmartPromise is an electronic journal of smart promises developed through Blockchain.
            User of such an environment receives a reward for each of his fulfilled promises.
            The concept of the idea contains the possibility to get a strong motivation to action that user pointed in promise.
        </h4>
        <h4>
            We set ourselves the goal of promoting the disclosure of personal motivation. If, one day,
            a person wants to start running in the morning, but he lacks motivation, our project can help him in the implementation of his plan.
        </h4>
    </div>
</div>
