@{
    ViewData["Title"] = "Contact";
}
<!--
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
-->

<h2>Contacts</h2>
<address>
    Russia, Saint-Petersburg
</address>

<address>
    <strong>Ankarenko Sergey:</strong> <a href="mailto:ankarenkosergey@example.com">ankarenkosergey@example.com</a><br />
    <strong>Leonid Markizov:</strong> <a href="mailto:Marketing@example.com">marlonya@iclod.com</a>
</address>
