@{
    ViewData["Title"] = "Contact";
}
<!--
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
-->

<div class="overlay">
    <div class="background-img-empty"></div>
    
        <div class="background-text">
            <h1>Contacts</h1>
            <h3>
                <address>
                    Russia, Saint-Petersburg
                </address>

                <address>
                    <strong>Ankarenko Sergey:</strong> <a style="color: #ffffff" href="mailto:ankarenkosergey@example.com">ankarenkosergey@example.com</a><br />
                    <strong>Leonid Markizov:</strong> <a style="color: #ffffff" href="mailto:Marketing@example.com">marlonya@iclod.com</a>
                </address>
            </h3>
    </div>

</div>

