@using Microsoft.AspNetCore.Identity
@using Promises.Models

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="~/js/entrance.js"></script>

<div class="jumbotron shadowed">
    <h2>
        <a class="typewrite" data-period="4000" data-type='[ "Faster Better Stronger", "Motivate yourself with Smart Promise" ]'>
            <span class="wrap"></span>
        </a>
    </h2>
</div>
