@using Microsoft.AspNetCore.Identity
@using Promises.Models

@{
    ViewData["Title"] = "Home Page";
}

<div class="overlay">
    <div  class="background-img"></div>
    <div class="background-text"></div>
</div>