body {
    background-image: url("../images/entrance_wallpaper.jpeg");
    background-color: #808080;
    text-align: center;
    color: #2e2c2c;
    padding-top: 40%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    color: #2e2c2c;
    text-decoration: none;
}

.typewrite > .wrap {
    border-right: 0.08em solid #2e2c2c
}
