

.shadowed {
    box-shadow: 3px 3px 200px black;
    background-color: #ffffff;
}

.typewrite {
    color: #2e2c2C;
    text-decoration: none;
    text-align: center;
    align-content: center;
}

.typewrite > .wrap {
    border-right: 0.08em solid #2e2c2c
}
