body {
    background-color: #A2BAE7;
    text-align: center;
    color: #2e2c2c;
    padding-top: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadowed {
    box-shadow: 3px 3px 200px black;
    background-color: #F8F2D8;
}

* {
    color: #2e2c2c;
    text-decoration: none;
}

.typewrite > .wrap {
    border-right: 0.08em solid #2e2c2c
}
