
.btn-grey {
    background-color: #D8D8D8;
    color: #FFF;
}

.promise-stats-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
}

.bold {
    font-weight: 700;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.promise-block {
    min-height: 100px;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.promise-block-name {
    font-size: 12px;
    margin: 10px 0;
}

.promise-block-date {
    font-size: 12px;
}

.promise-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
}

.promise-block-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.promise-block-completed {
    background-color: #7fc168;
}

.promise-block-error {
    background-color:#cc3434
}

.promise-block-description {
    font-size: 13px;
}
