.input-style[type=text] {
    width: 40%;
    font-size: 13px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.input-style[type=text]:focus {
    width: 100%;
}
